@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

#nav{
    font-family: 'Poppins';
    font-size: 15px;
    line-height: 1.5;
    background: white;
}

a{
    text-decoration: none;
    color: rgba(34, 54, 69, .7);
    font-weight: 500;
    cursor:pointer;
}

a:hover{
    color:#e74c3c;
}

.navbar-brand {
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
}

.custNav{
    margin-left: auto;
    font-size: 20px;
}

.custNav .nav-link{
    display: inline-block;
}

.custNavBtn{
    color: #e74c3c;
    border-color: #e74c3c;
}

.custNavBtn:hover{
    background-color:#e74c3c;
    color: white;
}

.custNavBtn:active{
    background-color:#e74c3c;
    color: white;
}

#nav .navbar-toggler{
    margin-top: 15px;
    margin-bottom:15px;
}

nav .nav-link i{
    font-size: 20px;
    margin-right: 10px;
}
nav .nav-link{
    font-size: 20px;
}

.loader-container{
    position: fixed;
    width: 100%;
    z-index: 111111;
    top: 0;
}




@media screen and (max-width: 767px) {
    .custNav {
        margin-left:0 !important;
    }
    
}
    
