/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
.myList .card{
    border: 0;
    box-shadow:  3px 2px 11px 0px grey;
    margin-top: 20px;
}